<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sasame</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/book.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <link rel="shortcut icon" type="image/x-icon" href="/images/bitmap.png" />
        <script src="/jquery.min.js"></script>
        <script src="/jquery-ui.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="/jquery.modal.min.css" />
        <link rel="stylesheet" href="/jquery-ui.css">
        <script type="module" src="/ionicons.esm.js"></script>
        <script nomodule="" src="/ionicons.js"></script>
        <link rel="stylesheet" href="/highlight/default.css">
        <script src="/js/highlight.js"></script>
        <script src="/tone.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/ppe.css">
        <link rel="stylesheet" href="/codemirror.css">
        <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    </head>
    <body>
        <div id="login_modal" class="modal">
          <p class="header">Login</p>
          <form id="login_form" action="/login/" method="POST">
            <div>
                <label>Username:</label>
                <input id="login_username"class="control_input"type="text" name="username"autocomplete="off"/>
            </div>
            <div>
                <label>Email:</label>
                <input id="login_email"class="control_input"type="text" name="email"autocomplete="off"/>
            </div>
            <div>
                <label>Password:</label>
                <input id="login_password"class="control_input"type="password" name="password"autocomplete="off"/>
            </div>
            <div>
                <input class="control_button"type="submit" value="Login"autocomplete="off"/>
            </div>
          </form>
          <p class="header">Register</p>
          <form id="register_form" action="/register/" method="POST">
            <div>
                <label>Username:</label>
                <input class="control_input"type="text" name="username"autocomplete="off"/>
            </div>
            <div>
                <label>Email:</label>
                <input class="control_input"type="text" name="email"autocomplete="off"/>
            </div>
            <div>
                <label>Password:</label>
                <input class="control_input"type="password" name="password"autocomplete="off"/>
            </div>
            <div>
                <label>Confirm Password:</label>
                <input class="control_input"type="password" name="passwordConf"autocomplete="off"/>
            </div>
            <div>
                <input class="control_button"type="submit" value="Register"/>
            </div>
          </form>
        </div>
        <% if(user != null){ %>
            <div id="login">
                <br/>
                <br/>
                <ion-icon class="notifications_icon"title="Notifications"src="/images/ionicons/notifications-sharp.svg"></ion-icon>&nbsp;&nbsp;
                <ion-icon class="messages_icon"title="Messages"src="/images/ionicons/mail-sharp.svg"></ion-icon>&emsp;
                <a class="link white" href="/user/<%=user._id%>">Profile</a>&emsp;
                <a class="link white" href="/logout">Logout</a>
            </div>
        <%} else{ %>
            <div id="login">
                <br/>
                <br/>
                <!-- <a class="link white" target="_blank"href="/help">Help</a> | -->
                <a class="link white" rel="modal:open"href="#login_modal">Enter</a> 

            </div>
        <%} %>
        <div id="side_panel">
          <div id="side_panel_inner">
            <div id="side_panel_body">
              <div class="header">
                      <ion-icon id="right_select_help"src="/images/ionicons/settings-sharp.svg"></ion-icon>
                        <select id="right_side_select" autocomplete="off">
                            <option value="chapters">Chapters</option>
                            <option value="categories">Passages</option>
                            <option value="users">Users</option>
                            <option value="queue">Queue</option>
                            <option value="brief">Brief</option>
                        </select>
                    </div>
                    <!-- Chapters -->
                    <input id="search_val"type="hidden"autocomplete="false">
                    <div id="categories">
                        <div>
                            <input class="control_input"id="chapter_search"placeholder="Search Sasame" type="" name="" autocomplete="off">
                        </div>
                        <div id="chapters">
                            <%if(chapters){%>
                                <%chapters.forEach(function(f) { %>
                                    <%- scripts.printChapter(f) %>
                            <%});} %>
                        </div>
                    </div>
                    <div id="chapter_load"class="load_more category">Load More</div>
                    <!-- Brief from #passages via JS -->
                    <!-- Queue -->
                    <div id="queue">
                        <input value="{}"id="queue_passages"type="hidden" name="" autocomplete="off">
                        <!-- <form id="queue_form">
                            <input id="queue_title"class="control_input"placeholder="Chapter Title" type="" name="chapter_title">
                            <button class="control_button">Create!</button>
                        </form> -->
                        <textarea id="console" class="control_textarea" autocomplete="off"></textarea>
                        <div id="queue_items"></div>
                    </div>
                    <!-- Category Search -->
                    <div id="category_search">
                        <div>
                            <input class="control_input"id="category_search_input"placeholder="Search by Tag" type="" name="" autocomplete="off">
                        </div>
                        <div id="cats">
                        </div>
                    </div>
            </div>
          </div>
        </div>
        <div id="mobile_modal" class="modal">
            <%-scripts.printAddForm(chapter)%>
            <div class="header">
                Table of Contents
            </div>
            <div id="mobile_category_list">
                <%if(chapters){%>
                    <%chapters.forEach(function(f) { %>
                        <%- scripts.printChapter(f) %>
                <%});} %>
            </div>
            <div id="chapter_load_mobile"class="load_more category">Load More</div>
        </div>
        <div id="control_panel">
            <div id="control_nav">
                    <div id="main_header">
                        <a href="/">
                            <img id="little_seed" title="Sasame (h)"alt="" src="/images/test.png"/>
                        </a>
                        <a href="/" class="basic_link">
                        <%if(parentChapter != null){%>
                          <div id="perm_chapter"><%=parentChapter.title%></div>
                        <%}else if(locals.isProfile){%>
                          <div id="perm_chapter"><%=profile.username%></div>
                        <%}else{%>
                          <div id="perm_chapter">Sasame</div>
                        <%}%>
                        </a>
                       <!--  <div id="sasame_title">
                          <span id="parent_chapter_title">Sasame</span> <span id="alpha">Alpha</span>
                        </div> -->
                        <!-- 
                        <div><a style="font-size:0.5em"class="basic_link"href="https://github.com/uriahsanders/Sasasame">Sasame</a></div> -->
                        <div id="options">
                            <!-- Book Options -->
                            <div id="help_modal" class="modal">
                              <p>Welcome!</p>
                              <p>Sasame is a versatile, modular, and merit-based Social Network for worldwide collaboration and education. Let's make our dreams a reality!</p>
                              <p>Sasame is under live development. Keep checking back for more updates!</p>
                            </div>
                             <div id="help_modal_graphic" class="modal">
                              <p>Welcome!</p>
                              <p>Sasame is a versatile, modular, and merit-based system for worldwide collaboration and education. Let's make our dreams a reality!</p>
                              <p>Sasame is under live development. Keep checking back for more updates!</p>
                            </div>
                            <a class="basic_link white" rel="modal:open"href="#help_modal"><ion-icon id="help"title="Help"src="/images/ionicons/help-circle-sharp.svg"></ion-icon></a>
                            <a class="basic_link white" rel="modal:open"href="#code"><ion-icon class="passage_adder book_option"title="Add (a)"src="/images/ionicons/add-circle-sharp.svg"></ion-icon></a>
                             <a class="basic_link white" rel="modal:open"href="#toc"><ion-icon id="option_menu"title="Menu (m)"src="/images/ionicons/browsers-sharp.svg"></ion-icon></a>
                             <ion-icon class="toggle_tools book_option"title="Tools (t)"src="/images/ionicons/build-sharp.svg"></ion-icon>
                             <ion-icon class="toggle_resize book_option"title="Resize (r)"src="/images/ionicons/albums-sharp.svg"></ion-icon>
                             <!-- PPE Options -->
                             <ion-icon data-select="off"id="ppe_select"class="ppe_option"title="Select (q)"src="/images/ionicons/scan-sharp.svg"></ion-icon>
                             <ion-icon id="ppe_mutate"class="ppe_option"title="Mutate (m)"src="/images/ionicons/color-palette-sharp.svg"></ion-icon>
                             <ion-icon id="ppe_erase"class="ppe_option"title="Erase (e)"src="/images/ionicons/close-circle-sharp.svg"></ion-icon>
                             <ion-icon class="ppe_option"title="Search (SPC)"src="/images/ionicons/search-sharp.svg"></ion-icon>

                             <ion-icon class="graphic_mode"title="Graphic Mode (g)"src="/images/ionicons/brush-sharp.svg"></ion-icon>
                        </div>
            
                    </div>
            </div>
            <div id="ppe">
                <canvas id="ppe_canvas"></canvas>
                <canvas id="ppe_cursor"></canvas>
                
                <div id="ppe_search_modal" class="modal">
                  <div id="ppe_queue">
                    <canvas id="ppe_mutation"class="ppe_queue_canvas" width="100" height="100"></canvas></div>
                    <input placeholder="Search..."id="ppe_search"class="control_input"type="text" name="">
                </div>
            </div>
            <div id="control_blocks">
                <div class="modal" id="code">
                    <%-scripts.printAddForm(chapter)%>
                </div>
                <div id="property_select">
                        <%-scripts.printPropertySelect()%>
                    </div>
                <div  class="control_block" id="book_of_sasame">
                    <input type="hidden" id="add_position" value="top">
                    <%if(parentChapter != null || locals.isProfile){%>
                    <div class="tool_header">
                        <%if(parentChapter != null){%>
                            <div class="chapter_tools">
                                  <a class="basic_link" rel="modal:open"href="#stream_palette"><ion-icon title="Mutate"src="/images/ionicons/color-palette.svg"></ion-icon></a>
                                 <a class="basic_link" rel="modal:open"href="#chapter_settings"><ion-icon title="Chapter Settings"src="/images/ionicons/settings.svg"></ion-icon></a>
                                 <ion-icon title="Add to Queue"class="square_icon"src="/images/ionicons/square-sharp.svg"></ion-icon>
                                 <ion-icon id="chapter_star_<%=parentChapter._id%>"title="Star"class="star_icon"src="/images/ionicons/star-sharp.svg"></ion-icon>
                                 <ion-icon id="chapter_flag_<%=parentChapter._id%>"title="Content Warning" class="flag_icon<%=(parentChapter.flagged == true ? ' flagged' : '')%>" src="/images/ionicons/flag.svg"></ion-icon>
                                 <ion-icon id="play_all"title="Play All" src="/images/ionicons/play-circle.svg"></ion-icon>
                                 <ion-icon title="Load All"src="/images/ionicons/reload-circle-sharp.svg"></ion-icon>
                                 <ion-icon title="Download as PDF"src="/images/ionicons/download-sharp.svg"></ion-icon>
                                 <ion-icon title="Update Order" id="update_order_<%=parentChapter._id%>"src="/images/ionicons/documents-sharp.svg"></ion-icon>
                            </div>
                            <br>
                            <span  class="chapter_tools"id="parent_chapter_title"><%=parentChapter.title%></span>
                                <input id="parent_chapter_id"type="hidden" value="<%=parentChapter._id%>"/>
                                <input id="page" type="hidden" value="2" autocomplete="off"/>
                            <div id="chapter_settings" class="modal">
                              <p class="modal_title">Chapter Options</p>
                              <p><%=(parentChapter.stars || 0 )%> Stars </p>
                              <form id="update_chapter_form">
                                  Title:
                                  <p><input class="control_input"value="<%=parentChapter.title%>"type="" name="title" autocomplete="off"></p>
                                  Access (Currently <%=parentChapter.access%>):<br><br>
                                  <div>
                                      <select class="modal_select" name="access" autocomplete="off">
                                      <option value="public">Public (Everyone can add and edit/delete everything)</option>
                                      <option value="protected">Protected (Users can add and edit/delete their own work)</option>
                                      <option value="private">Private (Only Author can add/edit/delete)</option>
                                      <option value="exclusive">Exclusive (Only Author can see Chapter)</option>
                                  </select>
                                  <br><br>
                                  <input id="is_tools_active"type="checkbox" name="tools"  <%=(parentChapter.tools == true ? 'checked' : '')%> autocomplete="off"> Tools
                                  <br><br>
                                  </div>
                                  <input type="hidden" name="_id" value="<%=parentChapter._id%>" autocomplete="off">
                                  <button class="control_button">Update</button>
                              </form>
                              <p class="chapter_delete_<%=parentChapter._id%>">Delete Chapter</p>
                            </div>
                        <%}else{%>
                            <%if(locals.isProfile){%>
                            <div id="profile_modal" class="modal">
                                <p><%=profile.username%></p>
                                <p><%=profile.stars%> Stars</p>
                                <p><%=profile.starsGiven%> Stars Given</p>
                            </div>
                            <input type="hidden" value="true", id="is_profile"/>
                            <a class="basic_link" href="#profile_modal" rel="modal:open"><ion-icon title="Details"src="/images/ionicons/settings-sharp.svg"></ion-icon></a>
                            <span id="parent_chapter_title"><%=profile.username%></span>
                            <%}%>
                        <%}%>
                    </div>
                    <%}else{%>
                        <!-- <span id="parent_chapter_title">Sasame</span> <span id="alpha">Alpha</span> -->
                        <input id="fileStreamPath" type="hidden"></input>
                        <input id="parent_chapter_id"type="hidden" value="Sasame"/>
                        <input id="page" type="hidden" value="2" autocomplete="off"/>
                    <%}%>
                    <!-- Add upon scroll -->
                    <%if(book){%>
                        <div id="passages">
                        <% book.forEach(function(f) { %>
                            <%- scripts.printPassage(f, user); %>
                        <% }); %>
                        </div>
                        <%if(parentChapter == null){%>
                        <div id="passage_load" class="load_more passage">
                            Load More
                        </div>
                        <%}%>
                    <%}%>
                </div>
                <!-- <div class="modal" id="toc">
                    
                </div> -->
            </div>
        </div>
        <input type="hidden"id="custom_pairs" name="">
        <script src="/marked.min.js"></script>
        <script src="/codemirror.js"></script>
        <script type="text/javascript" src="/mode/javascript/javascript.js"></script>
        <script src="/shared.js"></script>
        <script src="/js/book.js"></script>
        <script src="/js/ppe.js"></script>
    </body>
</html>
