<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sasame</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/book.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <link rel="shortcut icon" type="image/x-icon" href="/images/bitmap.png" />
        <script src="/jquery.min.js"></script>
        <script src="/jquery-ui.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="/jquery.modal.min.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script type="module" src="/ionicons.esm.js"></script>
        <script nomodule="" src="/ionicons.js"></script>
        <link rel="stylesheet" href="/highlight/default.css">
        <script src="/js/highlight.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/ppe.css">
    </head>
    <body>
        <div id="login_modal" class="modal">
          <p>Login/Register</p>
          <form id="login_form" action="/login" method="POST">
            <p><input id="login_name"class="modal_input"value=""type="" name="name"></p>
            <p><button>Go</button></p>
          </form>
        </div>
        <% if(locals.session && locals.session.user != null){ %>
            <div id="login">
                <br/>
                <br/>
                <a class="link white" href="/user/<%=locals.session.user_id%>">Profile</a> |
                <a class="link white" href="/logout">Logout</a>
            </div>
        <%} else{ %>
            <div id="login">
                <br/>
                <br/>
                <!-- <a class="link white" target="_blank"href="/help">Help</a> | -->
                <a class="link white" rel="modal:open"href="#login_modal">Login</a> 

            </div>
        <%} %>
        <div id="mobile_modal" class="modal">
            <%-scripts.printAddForm(chapter)%>
            <div class="header">
                Table of Contents
            </div>
            <div id="mobile_category_list">
                <%if(chapters){%>
                    <%chapters.forEach(function(f) { %>
                        <%- scripts.printChapter(f) %>
                <%});} %>
            </div>
            <div id="chapter_load_mobile"class="load_more category">Load More</div>
        </div>
        <div id="control_panel">
            <div id="control_nav">
                    <div id="main_header">
                        <a href="/">
                            <img id="little_seed" alt="" src="/images/test.png"/>
                        </a><!-- 
                        <div><a style="font-size:0.5em"class="basic_link"href="https://github.com/uriahsanders/Sasasame">Sasame</a></div> -->
                        <div id="options">
                            <!-- Book Options -->
                            <a id="mobile_book_menu"class="basic_link white" rel="modal:open"href="#mobile_modal"><ion-icon title="Mobile Menu"src="/images/ionicons/menu-sharp.svg"></ion-icon></a>
                            <div id="help_modal" class="modal">
                              <p>Welcome!</p>
                              <p>Sasame is under live development. Keep checking back for more updates! Sasame is meant to make the world a better place, one module at a time!</p>
                            </div>
                            <a class="basic_link white" rel="modal:open"href="#help_modal"><ion-icon id="help"title="Help"src="/images/ionicons/help-circle-sharp.svg"></ion-icon></a>
                             <ion-icon class="option_distraction_free"title="Distraction Free Mode"src="/images/ionicons/browsers-sharp.svg"></ion-icon>
                             <ion-icon class="toggle_tools book_option"title="Toggle Tools"src="/images/ionicons/build-sharp.svg"></ion-icon>
                             <!-- PPE Options -->
                             <ion-icon class="ppe_option"title="Paint"src="/images/ionicons/brush-sharp.svg"></ion-icon>
                             <ion-icon class="ppe_option"title="Select"src="/images/ionicons/scan-sharp.svg"></ion-icon>
                             <ion-icon class="ppe_option"title="Mutate"src="/images/ionicons/color-palette-sharp.svg"></ion-icon>
                             <ion-icon class="ppe_option"title="Search"src="/images/ionicons/search-sharp.svg"></ion-icon>

                             <ion-icon class="graphic_mode"title="Graphic Mode"src="/images/ionicons/brush-sharp.svg"></ion-icon>
                        </div>
            
                    </div>
            </div>
            <div id="ppe">
                <canvas id="ppe_canvas"></canvas>
                <canvas id="ppe_cursor"></canvas>
                <div id="ppe_queue"></div>
            </div>
            <div id="control_blocks">
                <div class="control_block" id="code">
                    <%-scripts.printAddForm(chapter)%>
                </div>
                <div id="property_select">
                        <%-scripts.printPropertySelect()%>
                    </div>
                <div  class="control_block" id="book_of_sasame">
                    <input type="hidden" id="add_position" value="top">
                    <div class="header">
                        <%if(parentChapter != null){%>
                            <div>
                                  <a class="basic_link" rel="modal:open"href="#stream_palette"><ion-icon title="Mutate"src="/images/ionicons/color-palette.svg"></ion-icon></a>
                                 <a class="basic_link" rel="modal:open"href="#chapter_settings"><ion-icon title="Chapter Settings"src="/images/ionicons/settings.svg"></ion-icon></a>
                                 <ion-icon title="Add to Queue"class="square_icon"src="/images/ionicons/square-sharp.svg"></ion-icon>
                                 <ion-icon id="chapter_star_<%=parentChapter._id%>"title="Star"class="star_icon"src="/images/ionicons/star-sharp.svg"></ion-icon>
                                 <ion-icon title="Content Warning" class="flag_icon" src="/images/ionicons/flag.svg"></ion-icon>
                                 <ion-icon title="Play All" src="/images/ionicons/play-circle.svg"></ion-icon>
                                 <ion-icon title="Load All"src="/images/ionicons/reload-circle-sharp.svg"></ion-icon>
                                 <ion-icon title="Download as PDF"src="/images/ionicons/download-sharp.svg"></ion-icon>
                                 <ion-icon title="Update Order" id="update_order_<%=parentChapter._id%>"src="/images/ionicons/documents-sharp.svg"></ion-icon>
                            </div>
                            <br>
                            <span id="parent_chapter_title"><%=parentChapter.title%></span>
                                <input id="parent_chapter_id"type="hidden" value="<%=parentChapter._id%>"/>
                                <input id="page" type="hidden" value="2" autocomplete="off"/>
                            <div id="chapter_settings" class="modal">
                              <p>CHAPTER OPTIONS</p>
                              <p><%=(parentChapter.stars || 0 )%> Stars </p>
                              <p><input class="modal_input"value="<%=parentChapter.title%>"type="" name=""></p>
                              <select class="modal_select">
                                  <option>Public (Everyone can add and edit/delete everything)</option>
                                  <option>Protected (Others can add and edit/delete their own work)</option>
                                  <option>Private (Others can only see it)</option>
                                  <option>Local (Only you can see it)</option>
                              </select>
                              <p class="chapter_update">Update Chapter</p>
                              <p class="chapter_delete_<%=parentChapter._id%>">Delete Chapter</p>
                            </div>
                        <%}else{%>
                            <%if(locals.isProfile){%>
                            <input type="hidden" value="true", id="is_profile"/>
                            <span id="parent_chapter_title"><%=session.name%></span> <div title="Chapter Options"id="chapter_options"></div>
                            <%}else{%>
                                <span id="parent_chapter_title">Sasame</span> <span id="alpha">Alpha</span>
                                <input id="fileStreamPath" type="hidden"></input>
                                

                                <input id="parent_chapter_id"type="hidden" value="Sasame"/>
                                <input id="page" type="hidden" value="2" autocomplete="off"/>
                            <%}%>
                        <%}%>
                    </div>
                    <!-- Add upon scroll -->
                    <%if(book){%>
                        <div id="passages">
                        <% book.forEach(function(f) { %>
                            <!-- Modal HTML embedded directly into document -->
                            <div id="modal_add_sub_passage_<%=f._id%>" class="modal">
                                <%-scripts.printAddForm('', false, '', f._id);%>
                            </div>
                            <%- scripts.printPassage(f); %>
                        <% }); %>
                        </div>
                        <%if(parentChapter == null){%>
                        <div id="passage_load" class="load_more passage">
                            Load More
                        </div>
                        <%}%>
                    <%}%>
                </div>
                <div class="control_block" id="toc">
                    <div class="header">
                        <select id="right_side_select" autocomplete="off">
                            <option value="chapters">Chapters</option>
                            <option value="chapters">Passages</option>
                            <option value="queue">Queue</option>
                            <option value="brief">Brief</option>
                        </select>
                    </div>
                    <!-- Chapters -->
                    <input id="search_val"type="hidden"autocomplete="false">
                    <div id="categories">
                        <div>
                            <input class="control_input"id="chapter_search"placeholder="Search Sasame" type="" name="" autocomplete="off">
                        </div>
                        <div id="chapters">
                            <%if(chapters){%>
                                <%chapters.forEach(function(f) { %>
                                    <%- scripts.printChapter(f) %>
                            <%});} %>
                        </div>
                    </div>
                    <div id="chapter_load"class="load_more category">Load More</div>
                    <!-- Brief from #passages via JS -->
                    <!-- Queue -->
                    <div id="queue">
                        <input class="control_input"placeholder="Chapter Title" type="" name="">
                        <button class="control_button">Create!</button>
                        <div id="queue_items"></div>
                    </div>

                </div>
            </div>
        </div>
        <script src="/marked.min.js"></script>
        <script src="/shared.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/book.js"></script>
        <script src="/js/ppe.js"></script>
    </body>
</html>
