<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sasame</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i,500,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="images/bitmap.png" />
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="mobile_book_menu_main">
            <div id="mobile_active_close">
                X
            </div>
            <div class="header">
                Add Passage
            </div>
            <form action="/add_passage/<%=category%>" method="GET">
                <textarea class="control_textarea" cols="30" placeholder="" id="" name="passage" rows="10"></textarea>
                <button class="mobile_control_button" id="mobile_add_passage">Pour Water</button>
            </form>
            <div class="header">
                Add Chapter
            </div>
            <form action="/add_category/<%=category%>" method="GET">
                <input class="control_input"  name="title" type="text" placeholder="Title"/>
                <button class="mobile_control_button" id="mobile_add_chapter">Enrich Soil</button>
            </form>
            <div class="header">
                Table of Contents
            </div>
            <div id="mobile_category_list">
                <%if(categories){%>
                    <%categories.forEach(function(f) { %>
                        <%if(sasasame == 'sasasame'){%>
                            <%if(!f.category){%>
                                <p class="mobile_category"><a class="basic_link" href="/sasasame/<%=f.title%>/<%=f._id%>"><%= f.title %></a></p>
                            <%}%>
                        <%}%>
                        <%if(sasasame == 'xyz'){%>
                            <p class="mobile_category"><a class="basic_link" href="/sasasame/<%=f.title%>/<%=f._id%>"><%= f.title %></a></p>
                        <%}%>
                <%});}%>
                <hr/>
                <br/>
                <br/>

            </div>
        </div>
        <div id="control_panel">
            <div id="control_nav">
                    <div id="main_header">
                        <div id="mobile_book_menu">
                            <!-- <ion-icon name="menu"></ion-icon> -->
                            +
                        </div>
                        <a href="/">
                            <img id="little_seed" alt="" src="/images/test.png"/>
                        </a>
                        THE BOOK OF SASAME
                        <div id="control_sub">
                            is kinda like the <span id="hero_sub_seed">roots.</span>
                        </div>
                    </div>
                    <br/>
                    <div class="up_one_level">
                        <a class="up_one_level_link" href="javascript:history.back()">../</a>
                    </div>
                <!-- Here is where you have -->
                <!-- the options to: -->
                <!-- (Add Passage) -->
                <!-- (Add Highlighted to Category) -->
                <!-- (Add Category) -->
            </div>
            <div id="control_blocks">
                <div class="control_block" id="code">
                    <!-- You write JS in this block -->
                    <!-- (Execute JS) (Add JS as passage) -->
                    <!-- Important functions: -->
                    <!-- (add_category(), add_passage_to_category()) -->
                    <form action="/add_passage/" method="POST">
                    <div class="header">
                        Add Passage
                    </div>
                    <textarea class="control_textarea" cols="30" placeholder="Keys" id="" name="keys" rows="2"></textarea>
                    <textarea class="control_textarea" cols="30" placeholder="" id="" name="passage" rows="10"></textarea>
                    <input name="categoryID" type="hidden" value="<%=category%>"/>
                    <button class="control_button" id="add_passage">Pour Water</button>
                    </form>
                    <div class="header">
                        Add Chapter
                    </div>
                    <form action="/add_category/<%=category%>" method="GET">
                        <input class="control_input"  name="title" type="text" placeholder="Title"/>
                        <button class="control_button" id="add_chapter">Enrich Soil</button>
                    </form>
                </div>
                <div  class="control_block" id="book_of_sasame">
                    <!-- Here you read the book of Sasame from the beginning -->
                    <div class="header">
                        Sasame
                    </div>
                    <!-- Add upon scroll -->
                    <%if(book){%>
                        <% book.forEach(function(f) { %>
                            <p class="passage <%=f.golden%>"><%= f.content %></p>
                        <% }); %>
                    <%}%>
                </div>
                <div class="control_block" id="toc">
                    <div class="header">
                        Table of Contents
                    </div>
                    <!-- Here you view categorization schemes -->
                    <!-- * Click a category to view everything in it -->
                    <div id="categories">
                        <%let count = 0;%>
                        <%if(categories){%>
                            <%categories.forEach(function(f) { %>
                                <%if(sasasame == 'sasasame'){%>
                                    <%if(!f.category){%>
                                        <p id="category_<%=count%>" class="category"><a class="link" href="/sasasame/<%=f.title%>/<%=f._id%>"><%= f.title %></a></p>
                                        <%++count;%>
                                    <%}%>
                                <%}%>
                                <%if(sasasame == 'xyz'){%>
                                    <p id="category_<%=count%>" class="category"><a class="link" href="/sasasame/<%=f.title%>/<%=f._id%>"><%= f.title %></a></p>
                                    <%++count;%>
                                <%}%>
                        <%});} %>
                    </div>

                </div>
            </div>
        </div>
        testing
        <script src="/js/app.js"></script>
    </body>
</html>
