<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sasame</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i,500,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/book.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="/images/bitmap.png" />
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!-- <div id="login"> -->
        <!--     <br/> -->
        <!--     <br/> -->
        <!--     <a class="link white" href="/login">Perfect 100</a> -->
        <!-- </div> -->
        <div id="mobile_book_menu_main">
            <div id="mobile_active_close">
                X
            </div>
            <div class="header">
                Add Passage
            </div>
            <form action="/add_passage/<%=chapter%>" method="GET">
                <textarea class="control_textarea" cols="30" placeholder="" id="" name="passage" rows="10"></textarea>
                <button class="mobile_control_button" id="mobile_add_passage">Pour Water</button>
            </form>
            <div class="header">
                Add Chapter
            </div>
            <form action="/add_chapter/<%=chapter%>" method="GET">
                <input class="control_input"  name="title" type="text" placeholder="Title"/>
                <button class="mobile_control_button" id="mobile_add_chapter">Enrich Soil</button>
            </form>
            <div class="header">
                Table of Contents
            </div>
            <div id="mobile_category_list">
                <%if(chapters){%>
                    <%chapters.forEach(function(f) { %>
                        <%if(sasasame == 'sasasame'){%>
                            <%if(!f.chapter){%>
                                <p class="mobile_category"><a class="basic_link" href="/sasasame/<%=f.title%>/<%=f._id%>"><%= f.title %></a></p>
                            <%}%>
                        <%}%>
                        <%if(sasasame == 'xyz'){%>
                            <p class="mobile_category"><a class="basic_link" href="/sasasame/<%=f.title%>/<%=f._id%>"><%= f.title %></a></p>
                        <%}%>
                <%});}%>
                <hr/>
                <br/>
                <br/>

            </div>
        </div>
        <div id="control_panel">
            <div id="control_nav">
                    <div id="main_header">
                        <div id="mobile_book_menu">
                            <!-- <ion-icon name="menu"></ion-icon> -->
                            +
                        </div>
                        <a href="/">
                            <img id="little_seed" alt="" src="/images/test.png"/>
                        </a>
                        THE BOOK OF SASAME
                    </div>
                    <br/>
                    <div class="up_one_level">
                        <!-- if parent chapter is not level 1 -->
                        <%if(parentChapter != null && parentChapter.chapter != null){%>
                        <a class="up_one_level_link" href="/sasasame">Start</a> | <a class="up_one_level_link" href="/sasasame/<%=parentChapter.chapter.title%>/<%=parentChapter.chapter._id%>">Up</a> | <a class="up_one_level_link" href="/control">Control</a>
                        <%}else{%>
                        <a class="up_one_level_link" href="/sasasame">Start</a> | <a class="up_one_level_link" href="/sasasame/">Up</a> | <a class="up_one_level_link" href="/control">Control</a>
                        <%}%>
                    </div>
                <!-- Here is where you have -->
                <!-- the options to: -->
                <!-- (Add Passage) -->
                <!-- (Add Highlighted to Category) -->
                <!-- (Add Category) -->
            </div>
            <div id="control_blocks">
                <div class="control_block" id="code">
                    <!-- You write JS in this block -->
                    <!-- (Execute JS) (Add JS as passage) -->
                    <!-- Important functions: -->
                    <!-- (add_category(), add_passage_to_category()) -->
                    <form action="/add_passage/" method="POST">
                    <div class="header no_cursive">
                        Add Passage
                    </div>
                    <input type="file"/ class='file_input' multiple>
                    <input class="control_input"  name="keys" placeholder="Key 1, Key 2, Key 3, ..." type="text" autocomplete="off" />
                    <textarea class="control_textarea" cols="30" placeholder="" id="" name="passage" rows="6"></textarea>
                    <input name="chapterID" type="hidden" value="<%=chapter%>"/>
                    <button class="control_button" id="add_passage">Pour Water</button>
                    </form>
                    <div class="header no_cursive">
                        Add Chapter
                    </div>
                    <form action="/add_chapter/<%=chapter%>" method="GET">
                        <div id="control_checkboxes">
                            <div class="control_check">
                                Public: <div class="tooltip"><div class="control_checkbox"><span class="checkmark"></span></div><div class="tooltiptext">Can others see?</div></div>
                            </div>
                            <div class="control_check">
                                Shared: <div class="tooltip"><div class="control_checkbox"><span class="checkmark"></span></div><div class="tooltiptext">Can others contribute?</div></div>
                            </div>
                        </div>
                        <input class="control_input"  name="title" type="text" placeholder="Title" autocomplete="off" />
                        <input name="public" type="hidden"/>
                        <input name="shared" type="hidden"/>
                        <button class="control_button" id="add_chapter">Enrich Soil</button>
                    </form>
                </div>
                <div  class="control_block" id="book_of_sasame">
                    <!-- Here you read the book of Sasame from the beginning -->
                    <div class="header">
                        <%if(parentChapter != null){%>
                            <%=parentChapter.title%><div id="chapter_options"></div>
                            <input id="parent_chapter_id"type="hidden" value="<%=parentChapter._id%>"/>
                            <input id="page" type="hidden" value="2" autocomplete="off"/>
                        <%}else{%>
                            Sasame <div id="chapter_options"></div>
                        <!-- <div class="tooltip gra_tooltip"><div id="chapter_options"></div><div class="tooltiptext gra_tooltip">Execute</div></div> -->
                            <input id="parent_chapter_id"type="hidden" value="Sasame"/>
                            <input id="page" type="hidden" value="2" autocomplete="off"/>
                        <%}%>
                    </div>
                    <!-- Add upon scroll -->
                    <%if(book){%>
                        <% book.forEach(function(f) { %>
                            <div class="passage">
                                <div class="passage_expand">+</div>
                                <%if(typeof f.chapter != 'undefined' && typeof f.chapter.title != 'undefined'){%>
                                <div class="passage_chapter"><a class="basic_link"href="/sasasame/<%= f.chapter.title %>/<%= f.chapter._id %>"><%= f.chapter.title %></a></div>
                                <%}else{%>
                                    <div class="passage_chapter">Sasame</div>
                                <%}%>
                                <!-- <div class="passage_author">Author<%= f.author %></div> -->
                                <%if(f.keys != '' && f.keys != 'undefined'){%>
                                <div class="passage_keys">Keys: <div class="passage_edit_keys" contenteditable="true"><%= f.keys %></div></div>
                                <%}else{%>
                                <div class="passage_keys">Keys: <div class="passage_edit_keys" contenteditable="true"></div></div>
                                <%}%>
                                <div class="passage_content"><%= f.content %></div>
                                <div class="passage_id"><%= f._id %></div>
                            </div>
                        <% }); %>
                    <%}%>
                </div>
                <div class="control_block" id="toc">
                    <div class="header">
                        Table of Contents
                    </div>
                    <!-- Here you view categorization schemes -->
                    <!-- * Click a category to view everything in it -->
                    <div id="categories">
                        <%if(chapters){%>
                            <%chapters.forEach(function(f) { %>
                                <p class="category"><a class="link" href="/sasasame/<%=f.title%>/<%=f._id%>"><%= f.title %></a></p>
                        <%});} %>
                    </div>

                </div>
            </div>
        </div>
        <script src="/js/app.js"></script>
        <script src="/js/book.js"></script>
    </body>
</html>
